<header>
    <nav class="navbar container is-info">
        <div class="navbar-brand">
            <p class="content is-large">CSV Processor</p>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
              <%= link_to 'Input', '/input', class: "navbar-item" %>
              <%= link_to 'Output', '/output', class: "navbar-item" %>
            </div>
        </div>
    </nav>
</header>